<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Update Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form novalidate th:action="@{/user/process-update}"
								th:object="${contact}" enctype="multipart/form-data"
								method="POST" class="mt-2">
								
								<input type="hidden" th:value="${contact.cid}" name="cid"/>
								
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-user"></i>
										</div>
									</div>
									<input type="text" id="firstName"
										th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
										name="name" placeholder="Enter First Name"
										class="form-control" th:value="${contact.name}" />
									<div class="invalid-feedback"
										th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" id="secondName" name="secondName"
										placeholder="Enter Second Name" class="form-control"
										th:value="${contact.secondName}" />
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input type="number" id="phone" name="phone"
										th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}"
										placeholder="Enter Phone Number" class="form-control"
										th:value="${contact.phone}" />
									<div class="invalid-feedback"
										th:each="e : ${#fields.errors('phone')}" th:text="${e}"></div>
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>
									<input type="email" id="email" name="email"
										th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
										placeholder="Enter your  email" class="form-control"
										th:value="${contact.email}" />
									<div class="invalid-feedback"
										th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="work" name="work"
										placeholder="Enter work here" class="form-control"
										th:value="${contact.work}" />
								</div>

								<div class="form-group mt-3">
									<textarea placeholder="Enter contact description"
										th:text="${contact.description}" name="description"
										id="description" class="form-control" rows="10"></textarea>
								</div>

								<div class="custom-file">
									<input type="file" name="image1" />
								</div>

								<div class="container text-center">
									<button type="submit" class="btn btn-outline-primary">Save
										Contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/4sc05c7qar7vxiqqkz58wb41cufg6x7cos51iqgpl5haioiz/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector : '#description'
			});
		</script>
	</section>
</body>
</html>