<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">
					<div class="container text-center">
						<img th:src="@{/img/ContactPeople.png}" style="height:200px; width:200px;" alt="" />
					</div>
					
					<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
				Start Adding your Contacts on our Cloud !
				</h1>
				<a th:href="@{/user/add-contact}" class="btn bg-primary mt-4 btn-block text-uppercase text-white">Add New Contact</a>
				</div>
			
			</div>
		</div>
		
		<script>
			$(document).ready(()=> {
				$(".item").removeClass("active");
				$("#home-link").addClass("active");
			});
		</script>
	</section>
</body>
</html>