<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>MyContactDrive</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-1">

						<!-- Message -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<!-- End of message -->

						<div class="container text-center">
							<img style="width: 110px;" th:src="@{/img/register.png}" alt="" />
						</div>


						<h1 class="text-center">Register Here</h1>
						<form novalidate th:action="@{/process_form}" method="post"
							th:object="${user}">

							<!-- name field -->
							<div class="form-group">
								<label for="name_field">Your Name</label> <input name="name"
									type="text" class="form-control"
									th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
									id="name_field" placeholder="Enter here" required
									th:value="${user.name}">
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
							</div>

							<!-- Email Field -->
							<div class="form-group">
								<label for="email_field">Email Address</label> <input
									name="email" type="email" class="form-control"
									th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
									id="email_field" placeholder="Enter here" required
									th:value="${user.email}">
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
							</div>

							<!-- Password Field -->
							<div class="form-group">
								<label for="password_field">Password</label> <input
									name="password" type="password" class="form-control"
									th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
									id="password_field" placeholder="Enter here" required>
								<small id="password_field" class="form-text text-muted">Password
									should be of minimum 8 length and must contain at least one
									lower-case character, one upper-case character, one special
									character, one digit</small>
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>

							</div>

							<!-- About Field -->
							<div class="form-group">
								<label for="">Enter something about yourself</label>
								<textarea th:text="${user.about}" name="about" id="" rows="7"
									class="form-control"></textarea>
							</div>
							
							<!-- Terms and Condition -->
							<div class="form-group from-check text-center">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="agreement" /> <label for="agreement">Accept terms
									and conditions</label>
							</div>

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>